@import 'utils';
$assetPath : "../../../../public/img";

.Wrapper {
    position: absolute;
    width: 100%;
    height: 100%;

    background: $pageback-color;
    .LoginComp {
        width: 45%;
        height: 50%;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: #FFFFFF;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

        display: flex;

        .LoginForm {
            width: 60%;
            background: white;
            padding: 0% 10%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            .Title {
                margin: 1rem 0rem;
                font-size: 2rem;
                font-weight: 700;
            }

            .warningMesseage {
                width: 100%;
                height: 2rem;
                line-height: 2rem;

                text-align: center;
                font-size: 12px;
                color: $fire-color;
                background: #EEEEEE;
                border-radius: 5px;
            }

            .textInput {
                margin: 1rem 0;
                border-radius: 2px;
                width: 100%;
                height: 3rem;
                border: 1px solid #e5e5e5;
                padding: 9px 12px;
                outline: none;
            }

            .LoginMid {
                margin: 0.2rem 0;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 0.7rem;
                
                .autoLogin {
                    color: #8d8d8d;
                }
            }

            .LoginMid2 {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                font-size: 0.7rem;
                color: #8d8d8d;
            }

            .LoginBtn {
                height: 3rem;
                width: 100%;
                padding: 13px 30px;
                font-size: 1rem;
                font-weight: 600;
                cursor: pointer;
                background-color: $sidetab-item-color;
                color: white;
                line-height: 1px;
                margin-top: 20px;
                margin-bottom: 12px;
                border-radius: 3px;
                border-style: none;
            }
        }

        .LoginInfo {
            width: 40%;
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(#{$assetPath}/nowork.jpg);
            background-size: cover;
            background-position: 15%;

            padding: 3%;
            .InfoTitle {
                font-size: 1.5rem;
                font-weight: 600;
            }
            .InfoText {
                font-size: 0.9rem;
                
            }
        }
    }
}