@import 'utils';

.Sidetab {
    position: absolute;
    width: 300px;
    height: 100%;
    left: -300px;
    top: 100px;

    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    &.open {
        -webkit-transform: translateX(300px);
        transform: translateX(300px);
    }

    background: $sidetab-color;

    .tabItemLine {
        position: relative;
        width: 250px;
        height: 100%;
        left: 40px;
    }
}