@import 'lib/all';
$assetPath : "../../../../public/img";

$breakpoints: (small: 320px, medium: 768px, large: 1024px, wide: 1400px);

$header-color: #354151;
$sidetab-color: #57728F;
$sidetab-item-color: #405D7B;
$sidetab-item-selected-color: #FFFFFF;
$pageback-color: #DDDDDD;

$basic-color: #A9A9A9;
$light-color: #FFB846;
$dark-color: #A12DF2;
$fire-color: #E81650;
$earth-color: #C08356;
$water-color: #21B3FE;

$injured-color: #2F4820;
$downed-color: #867B11;
$airborne-color: #1C5F8A
